<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="pt" class="pt no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="pt" class="pt no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="pt" class="pt no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt" class="pt no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>Corvu Digital</title>
        
        <meta name="description" content="A Corvu é um estúdio digital especializado em design e desenvolvimento de software. Somos um time multidisciplinar, que trabalha de forma ágil na entrega do melhor produto para nossos clientes e parceiros, tornando-os parte da equipe.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">

        <meta property="og:title" content="Corvu Digital">
        <meta property="og:description" content="A Corvu é um estúdio digital especializado em design e desenvolvimento de software. Somos um time multidisciplinar, que trabalha de forma ágil na entrega do melhor produto para nossos clientes e parceiros, tornando-os parte da equipe.">
        <meta property="og:type" content="Website">
        <meta property="og:url" content="http://cor.vu/">
        <meta property="og:image" content="http://cor.vu/assets/img/corvu-facebook.png">
        <meta property="og:site_name" content="cor.vu">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@corvudigital">
        <meta name="twitter:title" content="Corvu Digital">
        <meta name="twitter:description" content="A Corvu é um estúdio digital especializado em design e desenvolvimento de software. Somos um time multidisciplinar, que trabalha de forma ágil na entrega do melhor produto para nossos clientes e parceiros, tornando-os parte da equipe.">
        <meta name="twitter:creator" content="@corvudigital">
        <meta name="twitter:image:src" content="http://cor.vu/assets/img/corvu-facebook.png">

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:700">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200">

        <!-- ref:css assets/css/corvu.min.<%= buildNumber %>.css -->
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/structure.css">
        <link rel="stylesheet" href="assets/css/corvu_general.css">
        <link rel="stylesheet" href="assets/css/corvu_mobile.css">
        <link rel="stylesheet" href="assets/css/corvu_wide.css">
        <link rel="stylesheet" href="assets/css/corvu_tablet.css">
        <link rel="stylesheet" href="assets/css/corvu_desktop.css">
        <link rel="stylesheet" href="assets/css/corvu_maximum.css">
        <link rel="stylesheet" href="assets/css/print.css">
        <!-- endref -->

        <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
        <!--[if lt IE 9]><script type="text/javascript" src="assets/js/vendor/respond-1.1.0.min.js"></script><![endif]-->
    </head>
    <body class="loading">
        <div id="wrapper">
            <header id="page-header">
                <h1 id="header-logo" data-mobile="logo-corvu-small.png" data-image="logo-corvu-big.png">cor.vu</h1>
                <a id="header-language" href="/en/" title="English Version">english</a>
                <nav id="header-menu">
                    <h2 hidden>Menu</h2>
                    <ul id="menu-list">
                        <li class="menu-item">
                            <a class="menu-link" href="#home" title="Home"><span>0</span></a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#apparatus" title="Aparato Cognitivo"><span>1</span></a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#expertise-1" title="Especializações do Corvo (1)"><span>2</span></a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#expertise-2" title="Especializações do Corvo (2)"><span>3</span></a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="#expertise-3" title="Especializações do Corvo (3)"><span>4</span></a>
                        </li>
                        <li class="menu-item expanded">
                            <a class="menu-link" href="#contact" title="Entre em contato"><span>Entre em contato</span></a>
                        </li>
                    </ul>
                </nav>
            </header>
    
            <main id="content">
                <div id="feather-crow" data-image="feather-crow.png"></div>
                <div id="feather-small" data-image="feather-small.png"></div>
                <div id="the-crow" data-mobile="crow-small.png" data-image="crow-big.png"></div>
                <div id="feather-big" data-image="feather-big.png"></div>
            
                <section id="section-home" class="section-item">
                    <h2 hidden>Os Corvus</h2>
                    <div id="section-home-content" class="section-content">
                        <blockquote id="section-home-quote" class="section-quote"><strong>Especialistas</strong> em front-end e <strong>apaixonados</strong> por javascript.</blockquote>
                        <div id="home-tip">
                            <div class="touch">deslize o dedo para a esquerda para navegar</div>
                            <div class="keyboard">use as setas do seu teclado para navegar</div>
                        </div>
                    </div>
                </section>

                <section id="section-apparatus" class="section-item">
                    <h2 id="section-apparatus-title" class="section-title">
                        <span class="normal">Aparato</span>
                        <span class="big">Cognitivo</span>
                    </h2>
                    <div id="section-apparatus-content" class="section-content">
                        <div id="section-apparatus-elements" class="section-elements"> 
                            <div class="arrow2"></div>
                            <div class="arrow1"></div>
                            <div class="section-body-highlight"></div>
                            <div class="icon-brain"></div>
                        </div>
                        <div id="section-apparatus-subtitles" class="section-subtitles">
                            <h3 class="section-subtitle-item">Criatividade</h3>
                            <h3 class="section-subtitle-item">Técnica</h3>
                            <h3 class="section-subtitle-item">Agilidade</h3>
                            <h3 class="section-subtitle-item">Conhecimento</h3>
                        </div>
                    </div>
                </section>
                
                <section id="section-expertise" class="section-item">
                    <h2 id="section-expertise-title" class="section-title">
                        <span class="normal">Especializações</span>
                        <span class="big">do corvo</span>
                    </h2>
                    
                    <div id="section-expertise-1-content" class="section-content">
                        <div id="section-expertise-1-elements" class="section-elements">
                            <div class="arrow6"></div>
                            <div class="arrow7"></div> 
                        </div>
                        <div id="section-expertise-1-subtitles" class="section-subtitles">
                            <h3 class="section-subtitle-item">Práticas ágeis</h3>
                            <p class="section-subtitle-subitem">scrum, tdd, kanban</p>
                            <h3 class="section-subtitle-item">Entrega contínua</h3>
                            <h3 class="section-subtitle-item">Aculturamento</h3>
                        </div>
                    </div>
                    
                    <div id="section-expertise-2-content" class="section-content">
                        <div id="section-expertise-2-elements" class="section-elements"> 
                            <div class="arrow2"></div>
                            <div class="arrow1"></div>
                            <div class="section-body-highlight"></div>
                            <div class="icon-eye"></div>
                        </div>
                        <div id="section-expertise-2-subtitles" class="section-subtitles">
                            <h3 class="section-subtitle-item">Multiplataforma</h3>
                            <h3 class="section-subtitle-item">Multitelas</h3>
                            <h3 class="section-subtitle-item">Responsividade</h3>
                        </div>
                    </div>
                    
                    <div id="section-expertise-3-content" class="section-content">
                        <div id="section-expertise-3-elements" class="section-elements"> 
                            <div class="arrow3"></div>
                            <div class="arrow4"></div>
                            <div class="arrow5"></div>
                            <div class="arrow7"></div>
                        </div>
                        <div id="section-expertise-3-subtitles" class="section-subtitles">
                            Escolha do melhor<br>
                            <h3>design e</h3><br>
                            <h3>tecnologia</h3>
                        </div>
                        <ul id="section-expertise-3-list" class="section-list">
                            <li class="section-list-item"><img src="assets/img/logos/html5-logo.png" title="HTML5" alt="HTML5"></li>
                            <li class="section-list-item"><img src="assets/img/logos/css3-logo.png" title="CSS" alt="CSS"></li>
                            <li class="section-list-item"><img src="assets/img/logos/js-logo.png" title="JavaScript" alt="JavaScript"></li>
                        </ul>
                    </div>
                </section>
    
                <section id="section-contact" class="section-item">
                    <h2 hidden>Contato</h2>
                    <a id="contact-email" class="section-contact-link" href="mailto:corvedo@cor.vu">corvedo@cor.vu</a>
                    <a id="contact-facebook" class="section-contact-link" href="http://facebook.com/corvudigital" target="_blank">facebook.com/corvudigital</a>
                    <!-- <h3 id="contact-telefone" class="section-contact-object">+55 51 82210293</h3>
                    <p id="contact-address" class="section-contact-object">Rua Cel. Alfredo Steglich, 81/1.<br>Centro, Nova Petrópolis, RS.</p> -->
                </section>
            </main>
        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <!-- ref:js assets/js/corvu.min.<%= buildNumber %>.js -->
        <script src="assets/js/plugins/corvu.move.js"></script>
        <script src="assets/js/plugins/corvu.content.js"></script>
        <script src="assets/js/plugins/corvu.elements.js"></script>
        <script src="assets/js/corvu.js"></script>
        <!-- endref -->
        <script>
            /*
             * Source-code: cor.vu/source
             */
            corvu()
                .analytics("UA-41506145-1", "cor.vu")
                .navigation({
                    menu: ".menu-link",
                    content: "#wrapper",
                    assets: "assets/img/",
                    elements: {
                        crow: "#the-crow",
                        logo: "#header-logo",
                        fthcrow: "#feather-crow",
                        fthbig: "#feather-big",
                        fthsmall: "#feather-small"   
                    }
                });
        </script>        
    </body>
</html>
